html {
	margin: 0px;
	padding: 0px;
}

body
{
    background:     black;
    font-family:    Verdana, Tahoma, Arial, Helvetica, sans-serif;
    color:          #00ff01;
    font-size:      10pt;
	margin:			0.1cm 0.5cm 0.1cm 0.5cm;	
}

A {
	font-size: 			10pt;
	text-decoration: 	none; 
	color: 				silver;
	font-weight:		bold;
}

A:hover {
	color:			yellow;
}

.tabDark {
	background:		#333333;
}
A.tabDark { 
	color:			white;
	font-weight:	bold;
}


.tabLight {
	background:		#555555;
}
A.tabLight { 
	color:			white;
	font-weight:	bold;	
}

A.tabActive { 
	color:			yellow;
	font-weight:	bold;	
}

.sectionTitle {
	color:			#00ff01;
	font-size:		10pt;
	font-weight:	bold;
}

.listBody {
	background:		black;
	color:			#00ff01;
	font-size:		10pt;
}

A.nav {
	font-size:		10pt;
	font-weight:	bold;
}

.nav { 
	font-size:		10pt;
	font-weight:	normal;
	font-weight:	bold;
}

.navHead { 
	font-size:		10pt;
	font-weight:	bold;
}

.copy {
	font-size:		10pt;
	font-variant:	small-caps;
}

.modHead {
	font-size:		10pt;
	font-weight:	bold;
	color:			black;
}

.shellcode {
	font-size:		10pt;
	font-weight:	normal;
	color:			#00ff01;
}

.boldText { 
	font-size: 		10pt; 
	color: 			#00ff01; 
	font-weight: 	bold;
}

.moduleOutput {
	font-size:		10pt;
	color:			#00ff01;
}

.moduleInfo {
	font-size:		10pt;
	color:			#00ff01;
}

.textNormal {
	font-size:		10pt;
	color:			#00ff01;
}

.textBold {
	font-size:		10pt;
	color:			#00ff01;
	font-weight: 	bold;
}

.textBoldDark {
	font-size:		10pt;
	color:			#333333;
	font-weight: 	bold;
}

.textBoldBright {
	background:		#111111;
	font-size:		10pt;
	color:			white;
	font-weight: 	bold;
}


.textNormalColorA {
	background:		#111111;
	font-size:		10pt;
	font-weight:	normal;
}

.textBoldColorA {
	background:		#111111;
	font-size:		10pt;
	font-weight:	bold;
}


.textNormalColorB {
	background:		black;
	font-size:		10pt;
	font-weight:	normal;
}

.textBoldColorB {
	background:		black;
	font-size:		10pt;
	font-weight:	bold;
}

.tblOuter {
	background:		white;
}

.tblInner {
	background:		black;
}

input {
	background:		white;
	font-weight:	bold;
	color:			black;
	border-color:	#111111;
}

select {
	background:		white;
	color:			black;
	font-weight:	bold;	
	border-color:	#111111;
}



